
#productss{
        overflow-y: scroll;
        scroll-behavior: smooth;
        overflow-x: hidden;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
}
#listgrp{
    position:relative;
    top:2em;
    width: 20rem;
    height: 90vh;
    border-right: 2px solid #83f292;
    position:fixed;
}

#createCat{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    top: 4em;  
}
.prodaaa{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    top: 4em;
}
@media only screen and (min-width: 375px) and (max-width: 900px) {
    #form{
        position: relative;
        top:15px;
    }
    #orderBox{
        position: relative;
        top:6em;
    }
    #productss
    {
    position: relative;
    top:3em;
     height: 80vh;
     display: flex;
     flex-direction: row;
     justify-content: center;
     flex-wrap: wrap;
}
#listgrp{
    position:relative;
    top:2em;
    width: 20rem;
    height: 90vh;
    border-right: 2px solid #83f292;
    position:fixed;
}

#createCat{
    position: relative;
    top: 0em;  
}
.prodaaa{
    position: relative;
    top: 0em;
}
}
